<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.OrderDetailMapper">


    <insert id="addBatch">
        INSERT INTO order_detail (name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount)
        VALUES
        <foreach collection="orderDetails" item="d" separator=",">
            (#{d.name}, #{d.image}, #{d.orderId}, #{d.dishId}, #{d.setmealId}, #{d.dishFlavor}, #{d.number}, #{d.amount})
        </foreach>
    </insert>
</mapper>