<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.ShoppingCartMapper">
    <insert id="addBatch">
        INSERT INTO shopping_cart
        (name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time)
        VALUES
        <foreach collection="carts" item="c" separator=",">
        (#{c.name}, #{c.image}, #{c.userId}, #{c.dishId}, #{c.setmealId}, #{c.dishFlavor}, #{c.number}, #{c.amount}, #{c.createTime})
        </foreach>
    </insert>


    <select id="find" resultType="com.moon.entity.ShoppingCart">
        SELECT * FROM shopping_cart
        <where>
            <if test="setmealId != null">AND setmeal_id = #{setmealId}</if>
            <if test="dishId != null">AND dish_id = #{dishId}</if>
            <if test="dishFlavor != null">AND dish_flavor = #{dishFlavor}</if>
            <if test="userId != null">AND user_id = #{userId}</if>
        </where>
    </select>
</mapper>